.centered-content.column
  .title
    Your groups
  .primary-list
    - if @groups.length > 0
      - @groups.each do |group|
        .list-item
          = link_to group.name, group_path(group)

    - else
      %p.no-records-message
        You don't belong to any groups yet.

      %p.no-records-message
        Take a look at your invites or start your own.

    .new-group-button
      = link_to "Start a group", new_group_path
