= link_to edit_call_commitment_path(commitment.call, commitment),
    id: dom_id(commitment, 'pencil'),
    data: { confirm: ('This is a past commitment. Are you sure you want to edit it?' if commitment.call.past_call?) },
    remote: true do
  = octicon 'pencil'
