.card.timer{data: { controller:  'timer', call_id: @page.call.id  } }
  .card-title Timer
  .card-content
    = render 'timer_details', page: @page
  .card-footer
    - if @page.viewer_is_facilitator?
      = render 'timer_form', page: @page

    %audio{ data: { target: "timer.alert" }, |
      src: "http://static1.grsites.com/archive/sounds/musical/musical009.mp3", |
      controls: false }
