<div class="sign-up" id="clearance">
  <h2><%= t(".title") %></h2>

  <% if @user.errors.present? %>
    <div class="errors">
      <% @user.errors.full_messages.each do |error_message| %>
        <%= error_message %>
      <% end %>
    </div>
  <% end %>

  <%= render "/users/form" %>
</div>
