<div class="centered-content">
  <div class="card card-large">
    <div class="card-title"><%= current_user.full_name %></div>
    <div class="card-content">
      <div class="list-item"><%= current_user.email %></div>
    </div>
    <div class="card-footer">
      <%= link_to "Edit Profile", edit_user_path %>
    </div>
  </div>
</div>
