<%= form_with model: [call, commitment],
              class: "inline",
              id: dom_id(commitment, "inline_form") do |form| %>
  <div class="form-field full-width">
    <%= form.text_field :body %>
  </div>
  <div class="form-field">
    <%= form.submit "Done" %>
  </div>
<% end %>
