@import 'layout';
@import 'list';
@import 'form';
@import 'navbar';
@import 'card';
@import 'call_details';

body {
  margin: 0;
  font-family: sans-serif;
  background: #f6f2ef;
}

.main-content {
  margin: 10px;
}

.hidden {
  display: none;
}
