@import "call_details";
@import "card";
@import "form";
@import "layout";
@import "list";
@import "navbar";
@import "note";

body {
  margin: 0;
  font-family: sans-serif;
  background: #f6f2ef;
}

.main-content {
  margin: 10px;
}

.hidden {
  display: none;
}

.red {
  color: red;
  fill: red;
}

.green {
  color: green;
  fill: green;
}

