.sign-up,
.sign-in,
.new-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  form {
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 2px rgba(0,0,0,0.35), 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;
  }
}

.errors {
  color: red;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .select-field-row {
    display: flex;
    flex-direction: row;
  }
}

form.inline {
  display: flex;
  width: 100%;

  .form-field {
    margin-right: 10px;

    &.full-width {
      width: 100%;
    }
  }

  &.centered {
    align-items: center;
  }

  &.spaced {
    justify-content: space-evenly;
  }
}

.inline-edit-link {
  text-decoration: none;
  color: black;
}
