.sign-up,
.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  form {
    width: 400px;
  }
}

.errors {
  color: red;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

form.inline {
  display: flex;

  .form-field {
    margin-right: 10px;
  }
}

.inline-edit-link {
  text-decoration: none;
  color: black;
}
