.timer-page {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 36px;
  font-family: sans-serif;
}

.timer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    margin: 10px;
  }
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.timer-controls {
  font-size: 18px;
}
